@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --darkplace: #d28c45;
  --lightplace: #ffcf9f;
  --selected: #ebc934;
  --pastMove: #cfaf21;
  --kill: #eb4634;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.board {
  height: 90vh;
  width: 90vh;
  border: 1px solid white;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .board {
    height: 90vw;
    width: 90vw;
  }

  img {
    height: 80%;
  }
}

.row {
  /* border: 1px solid black; */
  height: 12.5%;
  width: 99.8%;
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.box {
  height: 100%;
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:first-child {
  border-top: 1px solid black;
}

.row:last-child {
  border-bottom: 1px solid black;
}

.row:nth-child(even) .box:nth-child(even) {
  background-color: var(--lightplace);
}

.row:nth-child(even) .box:nth-child(odd) {
  background-color: var(--darkplace);
}

.row:nth-child(odd) .box:nth-child(odd) {
  background-color: var(--lightplace);
}

.row:nth-child(odd) .box:nth-child(even) {
  background-color: var(--darkplace);
}

/* notations */
.notation {
  position: absolute;
  margin: 0;
  z-index: 2;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.numberNotation {
  top: 0.1rem;
  left: 0.3rem;
}

.row:nth-child(odd) .numberNotation {
  color: var(--darkplace);
}

.row:nth-child(even) .numberNotation {
  color: var(--lightplace);
}

.letterNotation {
  right: 0.3rem;
  bottom: 0.1rem;
}

.box:nth-child(odd) .letterNotation {
  color: var(--lightplace);
}

.box:nth-child(even) .letterNotation {
  color: var(--darkplace);
}

.selected {
  background-color: var(--selected) !important;
}

.possible {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 20%
  );
}

.pastMove {
  background-color: var(--pastMove) !important;
}

.kill {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 60%, var(--kill) 90%);
}

/* github corner */
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  height: 14%;
}

@media screen and (max-width: 1000px) {
  .github-corner {
    height: 10%;
  }

  .notation {
    font-size: 0.7rem;
  }
}
